
.emp-input{
    display: flex;
    gap: 20px;
    justify-content: center;

}
.emp-main-form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  overflow-y: auto;            /* vertical scroll if needed */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.emp-table{
justify-content: center;
}
.emp-input {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.emp-input input {
  padding: 0.6rem 0;
}

.emp-input input:focus {
  border-bottom: 2px solid #4f46e5;
}

.emp-input select {
  padding: 0.6rem 0;
  border-bottom: 2px solid #ccc;
  background: transparent;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.emp-input select:focus {
  border-bottom: 2px solid #4f46e5;
}
.btn-sub-up{
    width: 80px;
    height:40px;
    margin-left: 105px;
}
.btn-close{
    width: 80px;
    height:40px;
    margin-top: -58px;
    margin-left:199px;
}
.btn-sub-up:hover {
  background-color: #4338ca;
}

.btn-close:hover {
  background-color: #4b5563;
}
